.avatar {
  width: 100%;
  height: auto;
  
  border-radius: 5%;
}


.row-sider {
  padding-left: 10px;
  padding-right: 0pt;
}

.col-name {
  padding-left: 24px;
  
}

.info-sider-r2 {
  margin-top: 12px;
}

.col-buttons-goto {
  text-align: right;
}

.tab {
  padding-right: 0pc;
  margin-right: auto;
  margin-left: 12px;
}

.tab-card {
  padding-top: 12px;
}

.no_select{
  padding-top: 180px;
  padding-left: 50px;
  position: relative;
}