<div class="row-sider">
    <div nz-row class="row-sider">
        <nz-tabset nzSize="large" nzType='line' class="tab">
            <nz-tab nzTitle="Essentials">


                <div *ngIf="showProjectInformation === 'showEditing'; then showEditing"></div>
                <ng-template #showEditing>
                    <app-show-project-information></app-show-project-information>
                </ng-template>

                <div *ngIf="showProjectInformation === 'editing'; then editing"></div>
                <ng-template #editing>
                    <app-edit-project></app-edit-project>
                </ng-template>


                <div *ngIf="showProjectInformation === 'error'; then error"></div>
                <ng-template #error>
                    <div class="no_select">

                        <div nz-row>

                            <div nz-col nzSpan="24">
                                <img alt="example" style="height:150px; border-radius: 1%;"
                                src="assets/images/EmptyState_Generic.svg" />
                            </div>
                            
                          </div>  
                    </div>
                </ng-template>


            </nz-tab>
        </nz-tabset>

    </div>
</div>