<div nz-row>
  <div nz-col nzSpan="8">
    <p style="font-style: normal;font-weight: bold;color: #AFC1DC;font-size:13px;">Project Name
    </p>
  </div>
  <div nz-col nzSpan="12">
    <nz-form-item>
      <nz-form-control [nzErrorTip]="NameErrorTpl">
        <input nz-input (blur)="editProject()" type="text" [(ngModel)]="project.Name" placeholder="Enter the Name"
          required ngModel />
        <ng-template #NameErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Please enter the Name!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

  </div>
</div>

<div nz-row class="image_projetName">
  <div nz-col nzSpan="24" class="col-avatar">
    <img src="assets/images/D_1.jpg" class="image">
  </div>

</div>

<div nz-row style="margin-top: 10px;">

  <div nz-col nzSpan="7">
    <nz-form-item>
      <nz-form-control [nzErrorTip]="StatusErrorTpl" name="Status">
        <nz-select (nzSice)="'small'" (nzFocus)="editProject()" [(ngModel)]="project.Status" required ngModel>
          <nz-option nzValue="Active" nzLabel="Active"></nz-option>
          <nz-option nzValue="Archived" nzLabel="Archived"></nz-option>
          <nz-option nzValue="Created" nzLabel="Created"></nz-option>
          <nz-option nzValue="Inactive" nzLabel="Inactive"></nz-option>
          <nz-option nzValue="Pre Bid" nzLabel="Pre Bid"></nz-option>
          <nz-option nzValue="Warranty" nzLabel="Warranty"></nz-option>
        </nz-select>
        <ng-template #StatusErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Please enter the State!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
  </div>

</div>



<div nz-row class="user">
  <div nz-col nzSpan="24" class="userName">
    <div nz-row>
      <div nz-col nzSpan="4" class="col-avatar">
        <nz-avatar style="margin-left:5px; margin-top: 10px;" nz-comment-avatar nzIcon="user"
          nzSrc="assets/images/D_1.jpg"></nz-avatar>
      </div>
      <div nz-col nzSpan="18" class="userName">
        <div nz-row>
          {{project.CreatedByName}}
        </div>

        <div nz-row>
          <p style="font-style: normal;font-weight: normal;color: #AFC1DC;font-size:13px;">
            {{project.CreatedByTitle}}
          </p>

        </div>
      </div>

      <div nz-col nzSpan="2">
        <a href="mailto:josealbertobisbal@gmail.com?Subject=This is a test"><i nz-icon nzType="mail"
            nzTheme="outline"></i></a>

      </div>

    </div>


  </div>
</div>

<div class="tab-card" style="margin-top: 10px;">

  <nz-tabset nzType="card">

    <nz-tab [nzTitle]="titleTemplateFor">

      <ng-template #titleTemplateFor>
        <i nz-icon nzType="group" nzTheme="outline"></i>

      </ng-template>


      <div nz-row>
        <div nz-col nzSpan="2">
          <i nz-icon nzType="calendar" style="color:#AFC1DC;" nzTheme="outline"> </i>
        </div>

        <div nz-col nzSpan="22" style="margin-top: 2px;">
          <p><span style="font-size: 14px;font-weight: bold;color: #3B3F46; margin-top: 2px;"> Duration</span>
          </p>
        </div>
      </div>


      <div nz-row>
        <div nz-col nzSpan="12">
          <div nz-row>
            <div nz-col nzSpan="10" style="margin-top: 4px;">
              <p style="font-style: normal;font-weight: bold;color: #AFC1DC;font-size:13px;">Start Date:
              </p>
            </div>
            <div nz-col nzSpan="13">

              <nz-form-item>
                <nz-form-control [nzErrorTip]="StartDateErrorTpl">
                  <nz-date-picker [nzAllowClear]="'false'" (ngModelChange)="editProject()"
                    [(ngModel)]="project.StartDate">
                  </nz-date-picker>
                  <ng-template #StartDateErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      Please enter the Start Date!
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>

            </div>
          </div>
        </div>

        <div nz-col nzSpan="12">
          <div nz-row>
            <div nz-col nzSpan="10" style="margin-top: 4px;">
              <p style="font-style: normal;font-weight: bold;color: #AFC1DC;font-size:13px;">End Date:</p>
            </div>
            <div nz-col nzSpan="13">

              <nz-form-item>
                <nz-form-control [nzErrorTip]="EndDateErrorTpl">
                  <nz-date-picker [nzAllowClear]="'false'" (ngModelChange)="editProject()"
                    [(ngModel)]="project.EndDate">
                  </nz-date-picker>
                  <ng-template #EndDateErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      Please enter the End Date!
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>





            </div>
          </div>
        </div>

      </div>


      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-divider></nz-divider>
        </div>
      </div>




      <div nz-row>
        <div nz-col nzSpan="8">
          <p style="font-style: normal;font-weight: bold;color: #AFC1DC;font-size:13px;">Project Number
          </p>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-control nzValidatingTip="Validating..." [nzErrorTip]="NumberErrorTpl">
              <input nz-input (blur)="editProject()" type="text" [(ngModel)]="project.Number"
                placeholder="Enter the Number" required ngModel />
              <ng-template #NumberErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Please enter the Number!
                </ng-container>
                <ng-container *ngIf="control.hasError('duplicated')">
                  The project number already exists!
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>












      <div nz-row>
        <div nz-col nzSpan="8">
          <p style="font-style: normal;font-weight: bold;color: #AFC1DC;font-size:13px;">Tender Sum
          </p>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-control [nzErrorTip]="TenderSumErrorTpl">
              <nz-input-number (nzBlur)="editProject()" type="text" [(ngModel)]="project.TenderSum" [nzMin]="0"
                [nzMax]="100" [nzStep]="1" [nzFormatter]="formatterDollar" [nzParser]="parserDollar">
              </nz-input-number>
              <ng-template #TenderSumErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Enter the Tender Sum!
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>



      <div nz-row>
        <div nz-col nzSpan="8">
          <p style="font-style: normal;font-weight: bold;color: #AFC1DC;font-size:13px;">Bid Total
          </p>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-control [nzErrorTip]="BidTotalErrorTpl">
              <nz-input-number (nzBlur)="editProject()" type="text" [(ngModel)]="project.BidTotal" [nzMin]="0"
                [nzMax]="10000" [nzStep]="1" [nzFormatter]="formatterDollar" [nzParser]="parserDollar">
              </nz-input-number>
              <ng-template #BidTotalErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Enter the Bid Total!
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>



    </nz-tab>

  </nz-tabset>



</div>