.image {
    width: 100%;
    height: auto;
    padding-right: 20px;
    border-radius: 1%;
  }

  .user {
    padding-right: 20px;
}

.userName {
  border-style: none none none none;
  border-radius: 5%;
  background-color: #F6F7FB;
}