<span style="font-weight: bold ;font-size:14px;">{{project.Name}}</span>

<div nz-row class="image_projetName">


    <div nz-col nzSpan="24" class="col-avatar">
        <img src="assets/images/D_1.jpg" class="image">
    </div>

</div>


<div nz-row class="info-sider-r2">

    <div nz-col nzSpan="12" class="col-buttons-primary">
        <button class="status" [nzSize]="size" nz-button nzType="default">{{project.Status}}</button>
    </div>

</div>

<div nz-row class="user">
    <div nz-col nzSpan="24" class="userName">
        <div nz-row>
            <div nz-col nzSpan="4" class="col-avatar">
                <nz-avatar style="margin-left:5px; margin-top: 10px;" nz-comment-avatar nzIcon="user"
                    nzSrc="assets/images/D_1.jpg"></nz-avatar>
            </div>
            <div nz-col nzSpan="18" class="userName">
                <div nz-row>
                    {{project.CreatedByName}}
                </div>

                <div nz-row>
                    <p style="font-style: normal;font-weight: normal;color: #AFC1DC;font-size:13px;">
                        {{project.CreatedByTitle}}
                    </p>

                </div>
            </div>

            <div nz-col nzSpan="2" >
                <a href="mailto:josealbertobisbal@gmail.com?Subject=This is a test"><i nz-icon nzType="mail" nzTheme="outline"></i></a>
                
            </div>

        </div>


    </div>
</div>



<div class="tab-card" style="margin-top: 10px;">
    <nz-tabset nzType="card">
        <nz-tab [nzTitle]="titleTemplateFor">
            <ng-template #titleTemplateFor>
                <i nz-icon nzType="group" nzTheme="outline"></i>

            </ng-template>

            <div nz-row>
                <div nz-col nzSpan="2">
                    <i nz-icon nzType="calendar" style="color:#AFC1DC;" nzTheme="outline"> </i>
                </div>

                <div nz-col nzSpan="22" style="margin-top: 2px;">
                    <p><span style="font-size: 14px;font-weight: bold;color: #3B3F46; margin-top: 2px;"> Duration</span>
                    </p>
                </div>
            </div>


            <div nz-row>
                <div nz-col nzSpan="12">
                    <div nz-row>
                        <div nz-col nzSpan="10">
                            <p style="font-style: normal;font-weight: bold;color: #AFC1DC;font-size:13px;">Start Date:
                            </p>
                        </div>
                        <div nz-col nzSpan="14">
                            <p style="font-style: normal;font-weight: bold;font-size:13px;">
                                {{ project.StartDate | date }}</p>
                        </div>
                    </div>
                </div>

                <div nz-col nzSpan="12">
                    <div nz-row>
                        <div nz-col nzSpan="10">
                            <p style="font-style: normal;font-weight: bold;color: #AFC1DC;font-size:13px;">End Date:</p>
                        </div>
                        <div nz-col nzSpan="14">
                            <p style="font-style: normal;font-weight: bold;font-size:13px;">
                                {{ project.EndDate | date }}</p>
                        </div>
                    </div>
                </div>

            </div>

            <div nz-row>
                <div nz-col nzSpan="24">
                    <nz-divider></nz-divider>
                </div>
            </div>


            <div nz-row>
                <div nz-col nzSpan="2">
                    <i nz-icon nzType="number" style="color:#AFC1DC;" nzTheme="outline"></i>
                </div>

                <div nz-col nzSpan="22" style="margin-top: 2px;">
                    <p><span style="font-size: 14px;font-weight: bold;color: #3B3F46; margin-top: 2px;"> Summary</span>
                    </p>
                </div>
            </div>



            <div nz-row>
                <div nz-col nzSpan="24">
                    <div nz-row>
                        <div nz-col nzSpan="8">
                            <p style="font-style: normal;font-weight: bold;color: #AFC1DC;font-size:13px;">Project
                                Number:
                            </p>
                        </div>
                        <div nz-col nzSpan="16">
                            <p style="font-style: normal;font-weight: bold;font-size:13px;">
                                {{ project.Number }}</p>
                        </div>
                    </div>
                </div>

            </div>


            <div nz-row>
                <div nz-col nzSpan="24">
                    <div nz-row>
                        <div nz-col nzSpan="8">
                            <p style="font-style: normal;font-weight: bold;color: #AFC1DC;font-size:13px;">Bid Total:
                            </p>
                        </div>
                        <div nz-col nzSpan="16">
                            <p style="font-style: normal;font-weight: bold;font-size:13px;">
                                {{ project.BidTotal  | currency:'USD' }}</p>
                        </div>
                    </div>
                </div>

            </div>

            <div nz-row>
                <div nz-col nzSpan="24">
                    <div nz-row>
                        <div nz-col nzSpan="8">
                            <p style="font-style: normal;font-weight: bold;color: #AFC1DC;font-size:13px;">Tender Sum:
                            </p>
                        </div>
                        <div nz-col nzSpan="16">
                            <p style="font-style: normal;font-weight: bold;font-size:13px;">
                                {{ project.TenderSum  | currency:'USD' }}</p>
                        </div>
                    </div>
                </div>
            </div>


            <div nz-row>
                <div nz-col nzSpan="24">
                    <div nz-row>
                        <div nz-col nzSpan="8">
                            <p style="font-style: normal;font-weight: bold;color: #AFC1DC;font-size:13px;">Currency:
                            </p>
                        </div>
                        <div nz-col nzSpan="16">
                            <p style="font-style: normal;font-weight: bold;font-size:13px;">
                                (USD) - United States Dollar </p>
                        </div>
                    </div>
                </div>
            </div>



        </nz-tab>
    </nz-tabset>
</div>