.image_projetName {
  padding-top: 10px;
  height: auto;
}


.info-sider-r2 {
    padding-top: 10px;
    padding-right: 20px;
}

.image {
  width: 100%;
  height: auto;
  padding-right: 20px;
  border-radius: 1%;
}

.status {
  width: auto;
  height: auto;
  padding-right: 20px;
  border-radius: 1%;
}

.user {
    padding-top: 10px;
    padding-right: 20px;
}

.userName {
  border-style: none none none none;
  border-radius: 5%;
  background-color: #F6F7FB;
}
