<nz-tabset [nzSize]="'large'">
    <nz-tab nzTitle="All" (nzClick)=tabClickAll()>
    </nz-tab>
    <nz-tab nzTitle="Active" (nzClick)=tabClickActive()>
    </nz-tab>
    <nz-tab nzTitle="Pre Bid" (nzClick)=tabClickPrebid()>
    </nz-tab>
    <nz-tab nzTitle="Warranty" (nzClick)=tabClickWarranty()>
    </nz-tab>
    <nz-tab nzTitle="Archived" (nzClick)=tabClickArchived()>
    </nz-tab>
    <nz-tab nzTitle="Inactived" (nzClick)=tabClickInactived()>
    </nz-tab>
    <nz-tab nzTitle="Create" (nzClick)=tabClickCreated()>
    </nz-tab>
</nz-tabset>

