<nz-layout class="app-layout">

  <nz-header>
    <div class="app-header">
      <div nz-row class = "row-header">
        <div nz-col nzSpan="12" class = "col-project-name">
        <app-filters></app-filters>
        </div>

        <div nz-col nzSpan="12">
          <i nz-icon nzType="search" nzTheme="outline"style="padding-right: 10px;"></i>
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
          </span>
        </div>
      </div>

    </div>
  </nz-header>

  <nz-layout class="layout">
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>

    
    <nz-sider class="menu-sidebar" [nzReverseArrow]="false" nzWidth="380px" [nzCollapsedWidth]="0"  nzBreakpoint="md"
      [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <app-sider></app-sider>
    </nz-sider>
  </nz-layout>

</nz-layout>