:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;
}


.layout {
  background: white;
}
.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 1px 0 5px rgba(0, 21, 41, 0.35);
  background: #fff;
}

.header-trigger {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  position: relative;
  height: 64px;
  padding: 0;
  background: #fff;
  box-shadow: 1px 0 5px rgba(0, 21, 41, 0.35);
  text-align: right;
}

.col-project-name {
  text-align: left;
  padding-left: 30px;
}

nz-content {
  margin: 24px;
}

.inner-content {
  padding: 24px;
  background: #FFFFFF;
  height: 100%;
}

