<div nz-row class="row-content">
  <div nz-col nzSpan="12">
    <p>Projects ({{quantityProjets}})</p>
  </div>

  <div nz-col nzSpan="12" class="col-Buttons">
   
    <button nz-button nzType="default" [disabled]="disabledButton" (click)="showModaDeleteProject()"><i nz-icon
        class="delete" nzType="delete" nzTheme="outline"></i></button>

    <button nz-button nzType="default" [disabled]="disabledButton" (click)="editProject()"><i nz-icon class="form"
        nzType="form" nzTheme="outline"></i></button>

    <button nz-button nzType="primary" [disabled]="disabledButtonAdd" (click)="showModalNewProject()"><i nz-icon
        class="plus" nzType="plus"></i>New</button>

  </div>
</div>


<nz-table #nzTable [nzData]="dataProjectFilter" nzShowSizeChanger (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
  <thead>
    <tr>
      <th></th>
      <th>Status</th>
      <th>Number</th>
      <th>Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Created By</th>
      <th>Tender Sum</th>
      <th>Bid Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nzTable.data">
      <td [nzChecked]="setOfCheckedId.has(data.ProjectId)" (nzCheckedChange)="onItemChecked(data.ProjectId, $event)">
      </td>
      <td>{{ data.Status }}</td>
      <td>{{ data.Number }}</td>
      <td>{{ data.Name }}</td>
      <td>{{ data.StartDate | date }}</td>
      <td>{{ data.EndDate | date}}</td>
      <td>{{ data.CreatedByName }}</td>
      <td>{{ data.TenderSum | currency:'USD' }}</td>
      <td>{{ data.BidTotal | currency:'USD' }}</td>
    </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
        Search
      </button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>

<app-create-project *ngIf="isVisibleAddModal" (cloced)="onCloced()" [dataProject]="dataProject"></app-create-project>


<nz-modal [(nzVisible)]="isVisibleDeleteModal" nzTitle="Delete Project" nzOkText="Aceptar" nzCancelText="Cancelar"
  (nzOnOk)="deletehandleOk()" (nzOnCancel)="deletehandleCancel()">
  <h5>¿Are you sure you want to delete project number: <span
      style="font-family: times, serif; font-size:16pt; font-style:calibri; ">{{number}}</span> de forma
    permanently?</h5>
  <p>All information associated with the project will be deleted.</p>
</nz-modal>