.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}


.ellipsis {
  color: #656C79;
}

.delete {
  color: #656C79;
}

.form {
  color: #656C79;
}

.filter {
  color: #656C79;
}

.filter-fill {
  color: #656C79;
}

.col-Buttons {
  text-align: right;
}

.row-table-r1 {
  margin-top: 40px;

}

.r1 {
  background-color: #F6F7FB;
}

.ellipsis-popover {
  text-align: left;
}

.divider {
  margin: auto;
}

.row-table-r1 {
  width: 100%;
  height: auto;
}

.row-values {
  padding-top: 12px;
}

[nz-form] {
  max-width: 600px;
}

::ng-deep .ant-modal-header {
  background-color: #297CFE;
}

::ng-deep button:focus {
  outline: unset;
}
