::ng-deep .ant-modal-header{
    background-color: #2A7CFF;
}

::ng-deep button:focus {
    outline: unset;
}

.rbasicInformation{
    margin-top: 30px;
}

.projetName{
    margin-left: 25px;
}
[ant-form-item-control-input-content]{
    size: 10px;
}