<nz-modal [nzModalType]="'passive'" [nzWidth]="600" [(nzVisible)]="isVisibleAddModal" nzTitle="Create New Project" nzOkText="Save"
(nzOnOk)="createProject()"  nzCancelText="Cancel" (nzOnCancel)="handleCancel()"
[nzOkDisabled] = "formProject.invalid || formAddress.invalid">

  <form nz-form [formGroup] = "formProject" (ngSubmit)="createProject()">

    <div nz-row>

      <div nz-col nzSpan="12">
        <nz-upload [nzHeaders]="{ authorization: 'authorization-text' }">
          <div nz-col nzSpan="12" class="image">
            <nz-card nzHoverable nzSpan="22" style="width:240px; height:100px" [nzCover]="coverTemplate">
            </nz-card>
            <ng-template #coverTemplate>
              <img alt="example" src="assets/images/D_1.jpg" />
    
            </ng-template>
          </div>
          <button nz-button style="width:240px"><i nz-icon nzType="upload"></i>Upload File</button>
        </nz-upload>
      </div>
    
      <div nz-col nzSpan="12">
    
        <div nz-row>
          <nz-form-label nzRequired nzFor="Name">Project Name</nz-form-label>
        </div>
    
        <div nz-row >
          <div nz-col nzSpan="24" >
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="NameErrorTpl">
              <input nz-input type="text" formControlName="Name" placeholder="Enter the Name" minlength="4"/>
              <ng-template #NameErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Please enter the Project Name!
                </ng-container>
                <ng-container *ngIf="control.hasError('minlength')">
                  Name must be at least 4 characters long.
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        </div>
      </div>
    
    </div>
  


    <div nz-row class="rbasicInformation">
      <div nz-col nzSpan="12" class="cbasicInformation">
        <p style="font-style: normal;font-weight: bold;">Basic Information</p>
      </div>
    </div>


    <div nz-row>

      <div nz-col nzSpan="12">
    
        <div nz-row>
          <nz-form-label nzRequired nzFor="Number">Project Number</nz-form-label>
        </div>
    
        <div nz-row >
          <div nz-col nzSpan="23" >
            <nz-form-item>
              <nz-form-control nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="NumberErrorTpl">
                <input nz-input type="text" formControlName="Number" placeholder="Enter the Number" />
                <ng-template #NumberErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Please, enter the Project Number!
                  </ng-container>
                  <ng-container *ngIf="control.hasError('duplicated')">
                    The Project Number already exists!
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
        </div>
        </div>
      </div>
    
    </div>
  

    <div nz-row>
      <div nz-col nzSpan="12">
        <div nz-row>
    
          <div nz-col nzSpan="23">
    
            <div nz-row>
              <nz-form-label nzRequired>Start Date</nz-form-label>
            </div>
    
            <div nz-row>
              <div nz-col nzSpan="23">
                <nz-form-item>
                  <nz-form-control nzHasFeedback [nzErrorTip]="StartDateErrorTpl">
                    <nz-date-picker nz-input type="text" formControlName="StartDate">
                    </nz-date-picker>
                    <ng-template #StartDateErrorTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Please, enter the Start Date!
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>
    
        </div>
      </div>
      <div nz-col nzSpan="12">
        <div nz-row>
          <div nz-col nzSpan="23">
            <div nz-row>
              <nz-form-label nzRequired>End Date</nz-form-label>
            </div>
            <div nz-row>
              <div nz-col nzSpan="23">
                <nz-form-item>

                  <nz-form-control [nzSpan]="22" nzHasFeedback [nzErrorTip]="EndDateErrorTpl">
                    <nz-date-picker nz-input type="text" formControlName="EndDate">
                    </nz-date-picker>
                    <ng-template #EndDateErrorTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Please, enter the End Date!
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    



  </form>



<form nz-form [formGroup] = "formAddress">

  
  <div nz-row>

    <div nz-col nzSpan="12">
  
      <div nz-row>
        <div nz-col nzSpan="23">
          <div nz-row>
            <nz-form-label nzRequired nzFor="Line1">Line 1</nz-form-label>
          </div>
          <div nz-row>
            <div nz-col nzSpan="23">
              <nz-form-item>
                <nz-form-control nzHasFeedback [nzErrorTip]="Line1ErrorTpl">
                  <input nz-input type="text" formControlName="Line1" placeholder="Enter Street"/>
                  <ng-template #Line1ErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      Please, enter the street name!
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div nz-col nzSpan="12">
  
      <div nz-row>
        <div nz-col nzSpan="23">
          <div nz-row>
            <nz-form-label>Line 2</nz-form-label>
          </div>
          <div nz-row>
            <div nz-col nzSpan="23">
              <nz-form-item>
                <nz-form-control>
                  <input nz-input type="text" formControlName="Line2" placeholder="Enter additional address" />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  
  
  
  
  <div nz-row>

    <div nz-col nzSpan="12">
      <div nz-row>
  
        <div nz-col nzSpan="23">
          <nz-form-label nzRequired nzFor="City">City</nz-form-label>
          <div nz-row>
  
          </div>
  
          <div nz-row>
            <div nz-col nzSpan="23">
              <nz-form-item>
                <nz-form-control nzHasFeedback [nzErrorTip]="CityErrorTpl">
                  <input nz-input type="text" formControlName="City" placeholder="Enter City Town here" />
                  <ng-template #CityErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      Please, enter the name of the city here!
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
  
      </div>
  
    </div>
  
    <div nz-col nzSpan="12">
      <div nz-row>
  
        <div nz-col nzSpan="23">
  
          <div nz-row>
            <nz-form-label nzRequired nzFor="Country">Country</nz-form-label>
          </div>
  
          <div nz-row>
            <div nz-col nzSpan="23">
              <nz-form-item>
                <nz-form-control nzHasFeedback [nzErrorTip]="CountryErrorTpl">
                  <input nz-input type="text" formControlName="Country" placeholder="Enter the Number" />
                  <ng-template #CountryErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      Please, enter the name of the country here!
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
  
      </div>
  
  
    </div>
  
  </div>


<div nz-row>

  <div nz-col nzSpan="12">
    <div nz-row>

      <div nz-col nzSpan="23">
        <nz-form-label>State</nz-form-label>
    
        <div nz-row>
          <div nz-col nzSpan="23">
            <nz-form-item>
              <nz-form-control>
                <input nz-input type="text" placeholder="Enter the Number" />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>
    
    </div>

  </div>

  <div nz-col nzSpan="12">
    <div nz-row>
      <div nz-col nzSpan="23">
        <div nz-row>
          <nz-form-label nzRequired nzFor="PostalCode">Postal Code</nz-form-label>
        </div>
        <div nz-row>
          <div nz-col nzSpan="23">
            <nz-form-item>
              <nz-form-control nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="PostalCodeErrorTpl">
                <input nz-input type="text" formControlName="PostalCode" placeholder="Enter the Number" />
                <ng-template #PostalCodeErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Please, enter the Postal Code!
                  </ng-container>
                  <ng-container *ngIf="control.hasError('duplicated')">
                    ¡El número de serie ya existe!
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>
    </div>
    
  </div>

</div>

  </form>
</nz-modal>